<div class="container budget-wrap">

    <!-- Nav Bar - add budget -->

    <nav style="padding-bottom: 20px">
        <div>
            <a href="" ng-click="vm.openMonthModal();">
                <i class="fa fa-plus-circle" style="color:#ff9900"></i> Add month
            </a>
        </div>
    </nav>

    <main role="main">

        <div class="row" style="margin-bottom: 20px;" ng-if="vm.months.length">
            <div class="col-lg-10">
                <div class="btn-group">
                    <label data-ng-repeat="month in vm.months | orderBy:'id'" class="btn btn-info"
                           ng-model="vm.selectedMonth"
                           uib-btn-radio="month.id">{{vm.getMonthName(month.id)}}</label>
                </div>
            </div>
            <div class="col-lg-2 text-right">
                <a href="" ng-click="vm.openBudgetModal(vm.selectedMonth);">
                    <i class="fa fa-plus-circle" style="color:#ff9900"></i> Add Budget
                </a>
            </div>
        </div>

        <div data-ng-if="!vm.months.length">
            <table class="table table-striped table-responsive payments-table">
                <tbody>
                <tr>
                    <td colspan="3" class="text-center">Please add month to start</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div data-ng-if="!vm.budgets.length && vm.months.length">
            <table class="table table-striped table-responsive payments-table">
                <tbody>
                <tr ng-if="!paymets.length">
                    <td colspan="3" class="text-center">Please add budget to start</td>
                </tr>
                </tbody>
            </table>
        </div>

        <uib-tabset active="active" ng-if="vm.budgets.length">
            <uib-tab index="$index" heading="{{budget.name}}" data-ng-repeat="budget in vm.budgets">
                <div class="container white-back">

                    <div class="col-lg-6">

                        <h4 class="sub-header" align="center">Payments</h4>

                        <div style="margin-top: 10px;margin-bottom: -10px;" class="text-right">
                            <a href="" ng-click="vm.openCategoryModal(budget)">
                                <i class="fa fa-plus-circle"></i> Add Category
                            </a>
                        </div>
                        <category-list budget="budget"></category-list>

                    </div>
                    <div class="col-lg-6">
                        <income-list budget="budget" sum="budget.income"></income-list>
                    </div>

                    <div class="col-lg-12 total-spend" ng-if="budget.showCalculation">
                        <div class="row">
                            <div class="col-lg-4 red-color">
                                Total spent: {{budget.all}} BGN
                            </div>
                            <div class="col-lg-4 green-color">
                                Total incomes: {{budget.income}} BGN
                            </div>
                            <div class="col-lg-4"
                                 ng-class="budget.income - budget.all > 0 ? 'green-color' : 'red-color'">
                                Total saved: {{budget.income - budget.all}} BGN
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </main>
</div>

<script type="text/ng-template" id="budget.modal.client.view.html">
    <div class="modal-header">
        <h3 class="openBudgetModalmodal-title" id="modal-title">Add budget</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="form-group">
            <label>Month</label>
            <input data-ng-model="$ctrl.month" ng-disabled="true" class="form-control">
        </div>
        <div class="form-group">
            <label>Budget name</label>
            <input data-ng-model="$ctrl.name" class="form-control">
        </div>
        <div class="form-group">
            <button style="width: 100%;" type="button" class="btn btn-info" ng-model="sharedBudget" uib-btn-checkbox
                    btn-checkbox-true="1" btn-checkbox-false="0">
                Shared Budget
            </button>
        </div>
        <div class="form-group" ng-if="sharedBudget">
            <label>Share email address</label>
            <input data-ng-model="$ctrl.shared" class="form-control">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="$ctrl.ok()" data-ng-disabled="!$ctrl.name.length">Add
            budget
        </button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="category.modal.client.view.html">
    <div class="modal-header">
        <h3 class="modal-title">Add category</h3>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="form-group col-lg-12">
                <label>Budget name</label>
                <input data-ng-model="$ctrl.name" ng-disabled="true" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-8">
                <label>Category name</label>
                <input data-ng-model="$ctrl.category" class="form-control">
            </div>
            <div class="form-group col-lg-4">
                <label>Category budget</label>
                <input type="number" data-ng-model="$ctrl.budget" class="form-control">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="$ctrl.ok()" data-ng-disabled="!$ctrl.name.length">Add
            category
        </button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="income.modal.client.view.html">
    <div class="modal-header">
        <h3 class="modal-title">Add Income</h3>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="form-group col-lg-12">
                <label>Budget name</label>
                <input data-ng-model="$ctrl.name" ng-disabled="true" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-6">
                <div class="form-group">
                    <label>Income</label>
                    <input data-ng-model="$ctrl.income" class="form-control">
                </div>
            </div>
            <div class="form-group col-lg-6">
                <div class="form-group">
                    <label>Amount</label>
                    <input type="number" ng-required="true" data-ng-model="$ctrl.amount" class="form-control">
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="$ctrl.ok()"
                data-ng-disabled="!$ctrl.amount || !$ctrl.income">Add
            income
        </button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="month.modal.client.view.html">
    <div class="modal-header">
        <h3 class="modal-title">Add Month</h3>
    </div>
    <div class="modal-body">

        <div class="row">

            <div class="form-group">
                <div class="col-lg-4 text-center" ng-repeat="month in $ctrl.month">
                    <button style="width: 140px;margin-bottom: 10px;" type="button"
                            data-ng-disabled="$ctrl.alreadySelected(month)" class="btn btn-info"
                            data-ng-click="$ctrl.ok(month)">
                        {{month.name}}
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</script>