.budget-wrap main {
    padding: 4rem 2rem;
    background-color: #e0ebeb;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.white-back {
    background-color: white;
    max-width: 100%;
    border: 1px solid #ddd;
    border-top: none;
    padding: 20px;
    padding-top: 40px;

}

.sub-header {
    border-bottom: 1px solid black;
    padding-bottom: 2px;

}

.payments-table {
    margin-top: 20px;
}

.total-spend {
    background-color: #ddd;
    padding: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.red-color {
    color: red;
}

.green-color {
    color: green;
}

.search {
    margin-left: 40px;
    width: 100px;
}

.filterbar {
    display: flex;
    justify-content: center;
}

.export-area {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}