<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 text-left">
            ST4Budget
        </div>
        <div class="col-lg-8 text-center">A web budget app created by Team 4. Available on the WEB. Replace your
            worksheet or spreadsheet with software that helps you to plan better.
        </div>
        <div class="col-lg-2 text-right">&copy;2018 Copyright</div>
    </div>
</div>