<div class="container" ng-controller="HeaderController as vm">

    <div class="navbar-header">
        <a class="navbar-brand" ng-if="vm.authentication.user" ui-sref="budgets.list">
            <img class="logo-image" ng-src="/modules/core/client/img/brand/logo1.png">
        </a>
        <a class="navbar-brand" ng-if="!vm.authentication.user" ui-sref="home">
            <img class="logo-image" ng-src="/modules/core/client/img/brand/logo1.png">
        </a>
        <ul class="top-menu" ng-show="vm.authentication.user">
            <li><a href="">Notification</a></li>
            <li><a href="">Search</a></li>
            <li><a href="">Report</a></li>
        </ul>

    </div>
    <ul class="nav navbar-nav navbar-right" ng-show="!vm.authentication.user">
        <li>
            <button class="btn btn-sm btn-success" ui-sref="authentication.signin" role="button">Log in</button>
            <button class="btn btn-sm btn-success" ui-sref="authentication.signup" role="button">Registration</button>
        </li>
    </ul>
    <ul class="navbar-right" ng-show="vm.authentication.user">
        <li class="dropdown" uib-dropdown>
            <a class="dropdown-toggle user-header-dropdown-toggle" uib-dropdown-toggle role="button">
                <img ng-src="{{vm.authentication.user.profileImageURL}}"
                     alt="{{vm.authentication.user.displayName}}" class="header-profile-image"/>
                <span ng-bind="vm.authentication.user.displayName"></span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li ui-sref-active="active" ng-repeat="item in vm.accountMenu.items">
                    <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/api/auth/signout" target="_self">Signout</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
