<section>
  <div class="container home-wrap">
    <img class="budget-image" ng-src="/modules/core/client/img/budget.jpg">
    <h4>A budget tells us what we can't afford, but it doesn't keep us from buying it.</h4>
  </div>
</section>
