<h2 class="text-center">Select an year for the export</h2>
<div class="export-area">
  <select name="years" id="select">
      <option data-ng-repeat="month in vm.months" key={{month.toLocaleLowerCase()}} >{{month}}</option>
  </select>

  <button class="search btn btn-primary" ng-click="vm.exportData();">Export</button>
</div>