<h4 class="sub-header" align="center">Income</h4>

<div style="margin-top: 10px;margin-bottom: -10px;" class="text-right">
    <a href="" ng-click="addIncome(budget);"><i class="fa fa-plus-circle"
                                                   style="color:#ff9900"></i> Add Income</a>
</div>

<table data-ng-if="incomes.length" class="table table-striped table-responsive payments-table">
    <thead>
    <tr>
        <th class="col-lg-6">Income</th>
        <th class="col-lg-4">Amount</th>
        <th class="col-lg-2 text-center">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="income in incomes">
        <td>{{income.name}}<div ng-if="budget.shared != ''" style="font-size: 11px;color: green;">({{income.user.displayName}})</div></td>
        <td>{{income.amount}} BGN</td>
        <td class="text-center">
            <a href="#"><i class="fa fa-edit"></i></a>
            <a href="#"><i class="fa fa-remove"></i></a>
            <a href="#"><i class="fa fa-commenting-o"></i></a>
        </td>
    </tr>
    </tbody>
</table>

<div data-ng-if="!incomes.length">
    <table class="table table-striped table-responsive payments-table">
        <tbody>
        <tr ng-if="!paymets.length">
            <td colspan="3" class="text-center">Please add income</td>
        </tr>
        </tbody>
    </table>
</div>