<tr ng-if="paymets.length" data-ng-repeat="payment in paymets">
    <td>{{payment.name}} <div ng-if="budget.shared != ''" style="font-size: 11px;color: green;">({{payment.user.displayName}})</div></td>
    <td class="text-center"><strong>{{payment.amount}}</strong> BGN</td>
    <td class="text-center">
        <a href="#"><i class="fa fa-edit"></i></a>
        <a href="#"><i class="fa fa-remove"></i></a>
        <a href="#"><i class="fa fa-commenting-o"></i></a>
    </td>
</tr>

<tr ng-if="!paymets.length">
    <td colspan="3" class="text-center">Please add payments</td>
</tr>