<div data-ng-if="categories.length" data-ng-repeat="category in categories">

    <table class="table table-striped table-responsive payments-table">
        <thead>
        <tr>
            <th class="col-lg-4">{{category.name}}</th>
            <th class="col-lg-4 text-center">Amount</th>
            <th class="col-lg-2 text-center">Edit</th>
        </tr>
        </thead>
        <tbody payments-list category="category" sum="category.sum" budget="budget"></tbody>
        <tfoot style="background-color: #e0ebeb;font-size: 12px;">
        <tr>
            <td colspan="3" ng-if="category.sum">
                <div class="row">
                    <div class="col-lg-6">
                        Category budget: <b>{{category.budget}} BGN</b>
                    </div>
                    <div class="col-lg-6 text-right">
                        Sum: <b ng-class="category.sum > category.budget ? 'red-color' : 'green-color'">{{category.sum}} BGN</b>
                    </div>
                </div>

            </td>
        </tr>
        </tfoot>
    </table>
    <div>
        <a href="#" ng-click="addPayment(category)">
            <i class="fa fa-plus-circle" style="color:#ff9900"></i> Add Payment
        </a>
    </div>
</div>

<div data-ng-if="!categories.length">
    <table class="table table-striped table-responsive payments-table">
        <tbody>
        <tr ng-if="!paymets.length">
            <td colspan="3" class="text-center">Please add category</td>
        </tr>
        </tbody>
    </table>
</div>


<script type="text/ng-template" id="payment.modal.client.view.html">
    <div class="modal-header">
        <h3 class="modal-title">Add payment</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-lg-6">
                <label>Budget name</label>
                <input data-ng-model="$ctrl.budget" ng-disabled="true" class="form-control">
            </div>
            <div class="form-group col-lg-6">
                <label>Category name</label>
                <input data-ng-model="$ctrl.category" ng-disabled="true" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                <div class="form-group">
                    <label>Payment</label>
                    <input data-ng-model="$ctrl.payment" class="form-control">
                </div>
            </div>
            <div class="form-group col-lg-6">
                <div class="form-group">
                    <label>Amount</label>
                    <input type="number" ng-required="true" data-ng-model="$ctrl.amount" class="form-control">
                </div>
            </div>
        </div>
    </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="$ctrl.ok()"
                data-ng-disabled="!$ctrl.amount || !$ctrl.payment">Add
            payment
        </button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</script>