<div class="filterbar">
  <input type="text" class="input-field">
  <button class="search btn btn-primary" ng-click="vm.filterPayments();">Search</button>
</div>

<table data-ng-if="vm.payments.length" class="table table-striped table-responsive payments-table">
  <thead>
    <tr>
      <th class="col-lg-4">Name</th>
      <th class="col-lg-4">Amount</th>
      <th class="col-lg-2">Date</th>
      <th class="col-lg-2">Category</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="payment in vm.payments">
      <td>{{payment.name}}</td>
      <td>{{payment.amount}} lv.</td>
      <td>{{payment.created}}</td>
      <td>{{payment.category}}</td>
    </tr>
  </tbody>
</table>

<div data-ng-if="!vm.payments.length">
  <table class="table table-striped table-responsive payments-table">
    <tbody>
      <tr ng-if="!payments.length">
        <td colspan="3" class="text-center">No payments</td>
      </tr>
    </tbody>
  </table>
</div>