/*@import url('https://fonts.googleapis.com/css?family=Poiret+One::400,700&amp;subset=cyrillic');*/

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
    /*font-family: 'Poiret One', cursive;*/
    font-family: "Arial Unicode MS";
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    overflow-x: hidden;
    position: relative;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Arial Unicode MS";
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.content {
    margin-top: 50px;
}

.undecorated-link:hover {
    text-decoration: none;
}

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.header-profile-image {
    border-radius: 50%;
    height: 28px;
    margin-right: 5px;
    opacity: 0.8;
    width: 28px;
}

.open .header-profile-image,
a:hover .header-profile-image {
    opacity: 1;
}

.user-header-dropdown-toggle {
    padding-bottom: 11px !important;
    padding-top: 11px !important;
}

.user-primary-account {
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.error-text {
    display: none;
}

.has-error .help-block.error-text {
    display: block;
}

.has-error .help-inline.error-text {
    display: inline;
}

header {
    background-color: #343a40;
    float: none;
    height: 100px;
    display: flex;
}

header .logo-image {
    height: 70px;
}

header .navbar-right {
    margin-top: 35px;
}

header a {
    color: white;

}

header a:hover {
    color: #A0D88A;
    text-decoration: none;
}

header .top-menu {
    float: left;
    margin-top: 35px;
}

header .top-menu li {
    float: left;
    margin-right: 20px;
    list-style: none;
    color: white;

}

header .top-menu li a {
    font-size: 18px;
    font-weight: bold;
}

header .top-menu li a:hover {
    text-decoration: none;
    color: #A0D88A;
}

.budget-image {
    max-width: 80%;
    height: auto;
    display:block;
    margin: 0 auto;
}

.home-wrap {
    position: relative;
    padding-bottom: 50px;
}

.home-wrap h4 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    font-style: italic;
    color: black;
}

.info-wrap {
    padding-bottom: 100px;
}

footer {
    background-color: #5e5e5e;
    padding: 20px;
    color: white;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    width: 100%;
}